* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 20px;
  --c-red: #FB3448;
  --c-blue: #3b37ff;
  --c-green: #00b99c;
}

main {
  padding: 1em;
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
}

main > div {
  border-radius: 6px;
  padding: 1em;
}

main > div > h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: .5em;
}

main > div > p {
  font-size: 1.25em;
}
